@page

<h1>Password Reset Confirmation</h1>
<p>Your request for a password reset has been received.</p>

@{
    if (@ViewBag.ResetLink != null)
    {
        <p>Here is your Reset Link : <a href="@ViewBag.ResetLink" target="_blank">Reset Password</a></p>
    }
}

<p>An email with instructions on how to reset your password has been sent to your registered email address.</p>
<p>If you do not receive an email, please check your spam folder or contact our support team for assistance.</p>
