html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.footer {
    position: absolute;
    bottom:auto;
    width: 100%;
    background-color: #f8f9fa; /* Set your desired background color */
    border-top: 1px solid #ccc; /* Add a border at the top of the footer */
    text-align: center;
    line-height: 50px;
}
